<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="NpEtw" Language="1033" Version="0.1.0.0" Manufacturer="NpEtw" UpgradeCode="30fd8283-bc5a-44c3-b31b-435f08fd1c28">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

    <Condition Message="Windows 8 or later required.">
      <![CDATA[Installed OR (VersionNT >= 602)]]>
    </Condition>
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="WixUI_ErrorProgressText" />

    <Feature Id="ProductFeature" Title="NpEtw" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="NpEtw" />
      </Directory>
      <?elseif $(var.Platform) = x86 ?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="NpEtw" />
      </Directory>
      <?endif ?>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="NpEtw.sys" Guid="*">
        <File Id="NpEtw.sys" Name="NpEtw.sys" Source="$(var.NpEtw.TargetDir)NpEtw\NpEtw.sys" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="NpEtw.cat" Guid="*">
        <File Id="NpEtw.cat" Name="NpEtw.cat" Source="$(var.NpEtw.TargetDir)NpEtw\NpEtw.cat" KeyPath="yes" />
      </Component>
      <Component Id="NpEtw.inf" Guid="*">
        <File Id="NpEtw.inf" Name="NpEtw.inf" Source="$(var.NpEtw.TargetDir)NpEtw\NpEtw.inf" KeyPath="yes" />
        <difx:Driver DeleteFiles="yes" Legacy="yes" AddRemovePrograms="no" PlugAndPlayPrompt="no" />
      </Component>
      <Component Id="NpEtwEvents.man" Guid="*">
        <File Id="NpEtwEvents.man" Name="NpEtwEvents.man" Source="$(var.NpEtw.ProjectDir)NpEtwEvents.man" KeyPath="yes">
          <util:EventManifest MessageFile="[#NpEtw.sys]" ParameterFile="[#NpEtw.sys]" ResourceFile="[#NpEtw.sys]" />
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>